button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	background: $color__background-button;
	color: $color__text-main;
	line-height: 1;
	padding: .8em 1.2em .6em;
	
	&:hover {
		color: $color__link-hover;
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		color: $color__link-hover;
		border-color: $color__border-button-focus;
		outline: thin dotted;
		outline-color:  $color__border-button-focus;
	}

	&:focus {
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	}
}