.social-menu-wrapper {
	display: inline-block;

	.menu {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	li.menu-item {
		display: inline-block;
		margin-left: 4px;
	}

	a {
		display: block;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background: $color__background-social-footer;
	}

	a::before {
		content: '\f475';
		speak: none;
		display: inline-block;
		line-height: 16px;
		font-family: 'Genericons';
		font-weight: normal;
		font-size: 16px;
		margin-top: 4px;
		transition: transform 0.125s, color 0.125s ease-in-out;
		vertical-align: middle;
		text-align: center;
		-webkit-font-smoothing: antialiased;
		color: $color__icon-social-footer;
	}
}

/* Social top. */
.has-post-thumbnail #social-top,
.has-slider-img #social-top {
	a {
		background: $color__background-social-header;
	}
	a::before {
		color: $color__icon-social-header;
	}
}

/* Social footer. */
#social-footer {
	a {
		background: $color__background-social-footer;
	}
	a::before {
		color: $color__icon-social-footer;
	}
}

/* Social background colors. */
#social-top .social-menu-wrapper,
#social-footer .social-menu-wrapper {

	// WordPress & MichaelVanDenBerg.com.
	a[href*="wordpress.org"]:hover,
	a[href*="wordpress.com"]:hover,
	a[href*="michaelvandenberg.com"]:hover,
	a[href*="wordpress.org"]:focus,
	a[href*="wordpress.com"]:focus,
	a[href*="michaelvandenberg.com"]:focus {
		background: $color__background-social-wordpress;
	}
	a[href*="wordpress.org"]::before,
	a[href*="wordpress.com"]::before,
	a[href*="michaelvandenberg.com"]::before {
		content: '\f205';
	}

	// Facebook.
	a[href*="facebook.com"]:hover,
	a[href*="facebook.com"]:focus {
		background: $color__background-social-facebook;
	}
	a[href*="facebook.com"]::before {
		content: '\f204';
	}

	// Twitter.
	a[href*="twitter.com"]:hover,
	a[href*="twitter.com"]:focus {
		background: $color__background-social-twitter;
	}
	a[href*="twitter.com"]::before {
		content: '\f202';
	}

	// Dribbble.
	a[href*="dribbble.com"]:hover,
	a[href*="dribbble.com"]:focus {
		background: $color__background-social-dribbble;
	}
	a[href*="dribbble.com"]::before {
		content: '\f201';
	}

	// Google+.
	a[href*="plus.google.com"]:hover,
	a[href*="plus.google.com"]:focus {
		background: $color__background-social-google;
	}
	a[href*="plus.google.com"]::before {
		content: '\f206';
	}

	// Pinterest
	a[href*="pinterest.com"]:hover,
	a[href*="pinterest.com"]:focus {
		background: $color__background-social-pinterest;
	}
	a[href*="pinterest.com"]::before {
		content: '\f209';
	}

	// GitHub.
	a[href*="github.com"]:hover,
	a[href*="github.com"]:focus {
		background: $color__background-social-github;
	}
	a[href*="github.com"]::before {
		content: '\f200';
	}

	// Tumblr.
	a[href*="tumblr.com"]:hover,
	a[href*="tumblr.com"]:focus {
		background: $color__background-social-tumblr;
	}
	a[href*="tumblr.com"]::before {
		content: '\f214';
	}

	// YouTube.
	a[href*="youtube.com"]:hover,
	a[href*="youtube.com"]:focus {
		background: $color__background-social-youtube;
	}
	a[href*="youtube.com"]::before {
		content: '\f213';
	}

	// FlickR.
	a[href*="flickr.com"]:hover,
	a[href*="flickr.com"]:focus {
		background: $color__background-social-flickr;
	}
	a[href*="flickr.com"]::before {
		content: '\f211';
	}

	// Vimeo.
	a[href*="vimeo.com"]:hover,
	a[href*="vimeo.com"]:focus {
		background: $color__background-social-vimeo;
	}
	a[href*="vimeo.com"]::before {
		content: '\f212';
	}

	// Instagram.
	a[href*="instagram.com"]:hover,
	a[href*="instagram.com"]:focus {
		background: $color__background-social-instagram;
	}
	a[href*="instagram.com"]::before {
		content: '\f215';
	}

	// Codepen.
	a[href*="codepen.io"]:hover,
	a[href*="codepen.io"]:focus {
		background: $color__background-social-codepen;
	}
	a[href*="codepen.io"]::before {
		content: '\f216';
	}

	// LinkedIn.
	a[href*="linkedin.com"]:hover,
	a[href*="linkedin.com"]:focus {
		background: $color__background-social-linkedin;
	}
	a[href*="linkedin.com"]::before {
		content: '\f208';
	}

	// FourSquare.
	a[href*="foursquare.com"]:hover,
	a[href*="foursquare.com"]:focus {
		background: $color__background-social-fouresquare;
	}
	a[href*="foursquare.com"]::before {
		content: '\f226';
	}

	// Reddit.
	a[href*="reddit.com"]:hover,
	a[href*="reddit.com"]:focus {
		background: $color__background-social-reddit;
	}
	a[href*="reddit.com"]::before {
		content: '\f222';
	}

	// Digg.
	a[href*="digg.com"]:hover,
	a[href*="digg.com"]:focus {
		background: $color__background-social-digg;
	}
	a[href*="digg.com"]::before {
		content: '\f221';
	}

	// StumbleUpon.
	a[href*="stumbleupon.com"]:hover,
	a[href*="stumbleupon.com"]:focus {
		background: $color__background-social-stumbleupon;
	}
	a[href*="stumbleupon.com"]::before {
		content: '\f223';
	}

	// DropBox.
	a[href*="dropbox.com"]:hover,
	a[href*="dropbox.com"]:focus {
		background: $color__background-social-dropbox;
	}
	a[href*="dropbox.com"]::before {
		content: '\f223';
	}

	// Spotify.
	a[href*="spotify.com"]:hover,
	a[href*="spotify.com"]:focus {
		background: $color__background-social-spotify;
	}
	a[href*="spotify.com"]::before {
		content: '\f223';
	}

	// Pocket.
	a[href*="pocket.com"]:hover,
	a[href*="pocket.com"]:focus {
		background: $color__background-social-pocket;
	}
	a[href*="pocket.com"]::before {
		content: '\f223';
	}
}

/* Hide on mobile. */
#social-top,
#desktop-search {
	display: none;
}

@media screen and (min-width: $breakpoint-medium) {
	#social-top,
	#desktop-search {
		display: block;
	}
}